@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/*
Paleta:
#F2CC0F - Amarelo
#F29A2E - Laranjinha
#F2A341 - OUTRO LARANJA
#732509 - Laranja mesmo
#C40C0C - Vermelho forte
#0D0D0D - Preto
rgb(255, 253, 238) - branco para textos
*/




* {
   margin: 0;
   padding: 0;
}

body {
 font-family: "Lexend";
 background-color: beige ;
 color: #0D0D0D;
}

header {
  background-color: #BF4E24;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
}

header img {
 height: 100px;
 padding: 10px;
}

header .linha1 {
 width: 100%;
 display: flex;
 justify-content: space-evenly;
 align-items: center;

 background-color: #F2CC0F;
}

header h2 {
 color: #BF4E24;
 font-size: 3em;
 font-style: italic;

 text-shadow: 1px 3px 8px rgba(0,0,0,0.12);
}

nav {
 width: 100%;
}

nav ul{
 display: flex;
 justify-content: space-around;

 list-style-type: none;
}

nav li {
 padding: 10px;
}

nav li:hover {
 background-color: rgba(240, 248, 255, 0.231);
}

nav li a{
 color: rgb(255, 253, 238);
 text-decoration: none;
}

header input[type=text] {
 float: right;
 padding: 6px;
 border: none;
 margin-top: 8px;
 margin-right: 16px;
 font-size: 17px;
}

@media screen and (max-width: 1000px) {
  header h2 {
    display: none;
  }

  header input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 8px;
    font-size: 14px;
  }
}

/*
#######################
FIM DO CÓDIGO DO HEADER
#######################
*/

.main-container, header {
  margin-bottom: 50px;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto 50px auto;

  background-color: #0d0d0d13;
  padding: 10px;
  border-radius: 5px;
}


/*
#######################
FIM DO CÓDIGO COMPARTILHADO ENTRE OS CSS
#######################
*/

.restaurante-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.foto-restaurante {
  width: 250px;
  height: 250px;
  border-radius: 8px;
}


.restaurante-container h2 {
  font-size: 1.8em;
  color: #333;
  margin-top: 10px;
}


.local {
  font-size: 1em;
  color: #666;
  margin-top: 5px;
  padding: 5px;
}

.local img {
  height: 12px;
}

.restaurante-info {
  margin-top: 15px;
  font-size: 1em;
  color: #444;
}

.restaurante-info p {
  margin: 5px 0;
}

.restaurante-info b {
  color: #333;
}

.filtros-container {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  margin-top: 20px;
  border-radius: 8px;
}


input[type="text"] {
  padding: 8px;
  margin-top: 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
}


input[type="checkbox"] {
  margin-right: 10px;
}


label {
  font-size: 1em;
  color: #333;
}

@media screen and (max-width: 1000px) {
  .restaurante-container {
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .foto-restaurante {
    width: 200px;
    height: 200px;
  }

  .restaurante-container h2 {
    font-size: 1.5em;
  }

  .local {
    font-size: 0.9em;
  }

  .restaurante-info {
    font-size: 0.9em;
  }

  .filtros-container {
    width: 100%;
    margin-top: 10px;
  }

  input[type="text"] {
    width: 90%;
    font-size: 14px;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  label {
    font-size: 0.9em;
  }
}