<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="icon"  href="../static/img/LOGO.png">
    <link rel="stylesheet" href="../static/carrinho.css">
    <title>Carrinho</title>
</head>
<body>

    <header>
        <div class="linha1">
            <img src="../static/img/LOGO.png" alt="Logo"  height="250px">

            <h2>RIO GRANDE LANCHES</h2>
    
            <form action="pesquisar">
                <input type="text" placeholder="Procurar...">
            </form>
        </div>
        

        <nav>
            <ul>
                <li><a href="..//templates/home.html">Home</a></li>
                <li><a href="..//templates/paginaDeRestaurantes.html">Restaurantes</a></li>
                <li><a href="../templates/carrinho.html">Carrinho</a></li>
            </ul>
        </nav>
    </header>


    <div class="containerTitulo">
        <div class="titulo">
           <h1>CARRINHO</h1>
        </div>
     
        <div class="linhaProgresso">
           <ul class="progress-bar-bolinhas">
              <li class="bolinha completo textProgresso">1</li>
              <li class="bolinha textProgresso">2</li>
              <li class="bolinha textProgresso">3</li>
              <li class="bolinha textProgresso">4</li>
           </ul>
        </div>
    </div>

    <div class="info">
        <div class="textProduto">
            <h1>PRODUTO</h1>
        </div>
        <div class="textQuanti">
            <h1>QUANTI.</h1>
        </div>
        <div class="textValor">
            <h1>VALOR</h1>
        </div>
    </div>

    <div class="carrinho">
        
        <div class="product-card">
            <img src="../static/img/bauru x-tudo.jpeg" alt="Produto">
            <div class="product-info">
                <h2>milkshake leitinhos grandes</h2>
                <p>Leites na lata da silva lojas</p>
            </div>
        </div>
        <div class="quantity-container">
            <div class="quantity-box">
                <button>-</button>
                <span>1</span>
                <button>+</button>
            </div>
            <button class="remove-btn">REMOVER</button>
        </div>
        <div class="price">R$ 35,00</div>
    </div>
    <div class="carrinho">
        
        <div class="product-card">
            <img src="https://cdn.awsli.com.br/1628/1628171/produto/62405687/76f884c911.jpg" alt="Produto">
            <div class="product-info">
                <h2>San-do-bão épico</h2>
                <p>Bão Lanches trademark</p>
            </div>
        </div>
        <div class="quantity-container">
            <div class="quantity-box">
                <button>-</button>
                <span>1</span>
                <button>+</button>
            </div>
            <button class="remove-btn">REMOVER</button>
        </div>
        <div class="price">R$ 10,00</div>
    </div>
    <div class="carrinho">
        
        <div class="product-card">
            <img src="../static/img/pastel.jpg" alt="Produto">
            <div class="product-info">
                <h2>pastel (sem nENHUM grilo)</h2>
                <p>Nossos-lanches-nao-tem-grilos Lanches</p>
            </div>
        </div>
        <div class="quantity-container">
            <div class="quantity-box">
                <button>-</button>
                <span>1</span>
                <button>+</button>
            </div>
            <button class="remove-btn">REMOVER</button>
        </div>
        <div class="price">R$ 12,00</div>
    </div> 

    <div class="barraTotal">
        <div class="valorContainer">
           <div class="subtotal">
              <span>SUBTOTAL:</span>
              <p class="valorSubtotal">R$ 57,00</p>
           </div>
           <div class="frete">
              <span>FRETE:</span>
              <p class="valorFrete">R$ 3,00</p>
           </div>
        </div>
    </div>
    <div class="barraTotal">
        <div class="textTotal">
            <h1>TOTAL: <span class="precoTotal">R$ 60,00</span></h1>
        </div>
    </div>

    <div class="botao-container">
        <a href="./home.html" class="continuar-btn">CONTINUAR COMPRANDO</a>
        <a href="./pagamento.html"class="finalizar-btn">FINALIZAR COMPRA</a>
    </div>
</body>
</html>