<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//static/home.css">
    <title>Rio Grande Lanches</title>
</head>
<body>
    <header>
        <div class="linha1">
            <img src="../static/img/LOGO.png" alt="Logo"  height="250px">

            <h2>RIO GRANDE LANCHES</h2>
    
            <form action="pesquisar">
                <input type="text" placeholder="Procurar...">
            </form>
        </div>
        

        <nav>
            <ul>
                <li><a href="..//templates/home.html">Home</a></li>
                <li><a href="..//templates/paginaDeRestaurantes.html">Restaurantes</a></li>
                <li><a href="../templates/carrinho.html">Carrinho</a></li>
            </ul>
        </nav>
    </header>

    <div class="destaques-container main-container" id="destaques">

        <div class="ofertas">
            <h1>OFERTAS</h1>
    
            <div class="lanche-container">
                <img src="https://www.sabornamesa.com.br/media/k2/items/cache/d91d2793afc1e2281971343ae9f4138f_XL.jpg" alt="imagem lanche">
    
                <div class="lanche-desc">
                    <p class="nome-lanche">Cachorro-Quente dogdog</p>
                    <p class="nome-restaurante">AUAUDOGDOG cachorros</p>
                </div>
                
                <p class="texto-preco">R$50,00</p>
            </div>
    
            <div class="lanche-container">
                <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/banana-milkshake-9c56237.jpg" alt="imagem lanche">
    
                <div class="lanche-desc">
                    <p class="nome-lanche">milkshake leitinhos grandes</p>
                    <p class="nome-restaurante">Leites na lata da silva lojas</p>
                </div>
                
                <p class="texto-preco">R$14,00</p>
            </div>
    
            <div class="lanche-container">
                <img src="https://cdn.awsli.com.br/1628/1628171/produto/62405687/76f884c911.jpg" alt="imagem lanche">
    
                <div class="lanche-desc">
                    <p class="nome-lanche">San-do-bão épico</p>
                    <p class="nome-restaurante">Bão Lanches trademark</p>
                </div>
                
                <p class="texto-preco">R$12,00</p>
            </div>
    </div>

    <div class="novidades">
        <h1>NOVIDADES</h1>

        <div class="restaurante-container">
            <img src="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/11/16/69973306-14164335111183.jpg" alt="imagem restaurante">

            <div class="restaurante-desc">
                <p class="nome-restaurante">Nossos-lanches-nao-tem-grilos Lanches</p>
            </div>
        </div>

        <div class="restaurante-container">
            <img src="https://images.stockcake.com/public/2/0/8/208e2ce5-f78d-4bc6-a19c-b60e9c050a71_large/grandma-baking-pie-stockcake.jpg" alt="imagem restaurante">

            <div class="restaurante-desc">
                <p class="nome-restaurante">Delícias da vovó</p>
            </div>
        </div>
    </div>

    </div> <!--FIM DA PARTE DE DESTAQUE DA PÁGINA-->



    <div class="categorias main-container">
        <h1>CATEGORIAS</h1>

        <div class="categoria-card">
            <img src="https://www.enoivado.com.br/wp-content/uploads/2019/02/doce-sobremesa-casamento-cheesecake-tripla-cereja-baunilha.jpg" alt="logo categoria">
            <h2>Doces e sobremesas</h2>
        </div>

        <div class="categoria-card">
            <img src="https://www.sabornamesa.com.br/media/k2/items/cache/98401d211546397e2b8c04cfd4ec5a4d_XL.jpg" alt="logo categoria">
            <h2>Salgados</h2>
        </div>

        <div class="categoria-card">
            <img src="https://i.pinimg.com/564x/33/16/1a/33161ab89af9882251972111ae710d59.jpg" alt="logo categoria">
            <h2>Pratos feitos</h2>
        </div>

        <div class="categoria-card">
            <img src="https://sorvetesbeijofrio.com.br/public/img/bg6.jpg" alt="logo categoria">
            <h2>Sorvetes e frios</h2>
        </div>
    </div>



    <div class="restaurantes main-container">
        <h1>RESTAURANTES</h1>

        <div class="restaurante-card">
            <img src="https://images.stockcake.com/public/2/0/8/208e2ce5-f78d-4bc6-a19c-b60e9c050a71_large/grandma-baking-pie-stockcake.jpg" alt="imagem restaurante">
            
            <p>Delícias da vovó</p>
        </div>

        <div class="restaurante-card">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/0a/b4/71/15/fachada.jpg" alt="imagem restaurante">
            
            <p>Bão Lanches trademark</p>
        </div>

        <div class="restaurante-card">
            <img src="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/11/16/69973306-14164335111183.jpg" alt="imagem restaurante">
            
            <p>Nossos-lanches-nao-tem-grilos Lanches</p>
        </div>
    </div>
</body>
</html>