<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rio Grande Lanches</title>
</head>
<body>
    <header>
        <h1>Rio Grande Lanches</h1>
        <img src="../static/img/LOGO.png" alt="Logo">

        <form action="pesquisar">
            <input type="text" placeholder="O QUE VOCÊ QUER COMER HOJE?">
        </form>

    </header>
    
    <hr>

    <div class="destaques-container">

        <div class="ofertas">
            <h1>OFERTAS</h1>
    
            <div class="lanche-container">
                <img src="" alt="imagem lanche">
    
                <div>
                    <p class="nome-Lanche">Cachorro-Quente dogdog</p>
                    <p class="nome-restaurante">AUAUDOGDOG cachorros</p>
                </div>
                
                <p class="texto-preco">R$5,00</p>
            </div>
    
            <div class="lanche-container">
                <img src="" alt="imagem lanche">
    
                <div>
                    <p class="nome-Lanche">milkshake leitinhos grandes</p>
                    <p class="nome-restaurante">Leites na lata da silva lojas</p>
                </div>
                
                <p class="texto-preco">R$14,00</p>
            </div>
    
            <div class="lanche-container">
                <img src="" alt="imagem lanche">
    
                <div>
                    <p class="nome-Lanche">San-do-bão épico</p>
                    <p class="nome-restaurante">Bão Lanches trademark</p>
                </div>
                
                <p class="texto-preco">R$12,00</p>
            </div>
    </div>

    <div class="novidades">
        <h1>NOVIDADES</h1>

        <div class="lanche-container">
            <img src="" alt="imagem lanche">

            <div>
                <p class="nome-Lanche">Cachorro-Quente duvidoso....</p>
                <p class="nome-restaurante">Nossos-lanches-nao-tem-grilos Lanches</p>
            </div>
            
            <p class="texto-preco">R$2,50</p>
        </div>

        <div class="lanche-container">
            <img src="" alt="imagem lanche">

            <div>
                <p class="nome-Lanche">Torta salgada de amor e de carinho</p>
                <p class="nome-restaurante">Delícias da vovó</p>
            </div>
            
            <p class="texto-preco">R$14,00</p>
        </div>
    </div>

    </div> <!--FIM DA PARTE DE DESTAQUE DA PÁGINA-->

    <hr>

    <div class="categorias main-container">
        <h1>CATEGORIAS</h1>

        <div class="categoria-card">
            <img src="" alt="logo categoria">
            <h2>Doces e sobremesas</h2>
        </div>

        <div class="categoria-card">
            <img src="" alt="logo categoria">
            <h2>Salgados</h2>
        </div>

        <div class="categoria-card">
            <img src="" alt="logo categoria">
            <h2>Pratos feitos</h2>
        </div>

        <div class="categoria-card">
            <img src="" alt="logo categoria">
            <h2>Sorvetes e frios</h2>
        </div>
    </div>

    <hr>

    <div class="restaurantes main-container">
        <h1>RESTAURANTES</h1>

        <div class="restaurante-card">
            <img src="" alt="imagem restaurante">
            
            <p>Delícias da vovó</p>
        </div>

        <div class="restaurante-card">
            <img src="" alt="imagem restaurante">
            
            <p>Bão Lanches trademark</p>
        </div>

        <div class="restaurante-card">
            <img src="" alt="imagem restaurante">
            
            <p>Nossos-lanches-nao-tem-grilos Lanches</p>
        </div>
    </div>
</body>
</html>