<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rio Grande Lanches</title>
</head>
<body>
    <header>
        <h1>Rio Grande Lanches</h1>
        <img src="../static/img/LOGO.png" alt="Logo">

        <form action="pesquisar">
            <input type="text" placeholder="O QUE VOCÊ QUER COMER HOJE?">
        </form>

    </header>

    <hr>

    <div class="restaurante-container">
        <h2>NOME RESTAURANTE</h2>
    </div>
</body>
</html>