<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="../static/img/LOGO.png">
    <link rel="stylesheet" href="../static/paginaDoRestaurante.css">
    <title>Rio Grande Lanches</title>
</head>
<body>
    <header>
        <div class="linha1">
            <img src="../static/img/LOGO.png" alt="Logo"  height="250px">

            <h2>RIO GRANDE LANCHES</h2>
    
            <form action="pesquisar">
                <input type="text" placeholder="Procurar...">
            </form>
        </div>
        

        <nav>
            <ul>
                <li><a href="..//templates/home.html">Home</a></li>
                <li><a href="..//templates/paginaDeRestaurantes.html">Restaurantes</a></li>
                <li><a href="../templates/carrinho.html">Carrinho</a></li>
            </ul>

    </header>

    <div class="main-container unidade-restaurante">

        <div class="restaurante-desc">
            <h2>CARDÁPIO</h2>

            <div class="lanche-container">
                <img src="https://cdn.awsli.com.br/1628/1628171/produto/62405687/76f884c911.jpg" alt="imagem lanche">
    
                <div class="lanche-desc">
                    <p class="nome-lanche">San-do-bão épico</p>
                    <p class="texto-preco">R$12,00</p>
                </div>
                
                <button>Adicionar ao carrinho</button>
            </div>
    
            <div class="lanche-container">
                <img src="https://i.ytimg.com/vi/aVVx-GLRI50/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLA1LsQ-lRF9KQ9fAHCl4ES1Uc-6mQ" alt="imagem lanche">
    
                <div class="lanche-desc">
                    <p class="nome-lanche">Mungu-bão lendário</p>
                    <p class="texto-preco">R$14,00</p>
                </div>
                
                <button>Adicionar ao carrinho</button>
            </div>
    
            <div class="lanche-container">
                <img src="https://d2qcpt1idvpipw.cloudfront.net/recipes/2020/10/milho-cozido-em-cinco-minutos.jpg" alt="imagem lanche">
    
                <div class="lanche-desc">
                    <p class="nome-lanche">Milho bem-cozido</p>
                    <p class="texto-preco">R$2,50</p>
                </div>
                
                <button>Adicionar ao carrinho</button>
            </div>
        </div>

        <div class="restaurante-info">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/0a/b4/71/15/fachada.jpg" alt="imagem principal restaurante" class="img-restaurante">
            <h2>Bão Lanches trademark</h2>

            <p>Os lanches mais bões do IFRN - Campus Ceará-Mirim!!!!!!! Não tem outra no nosso ramo ta aqui é só a elite porque só tem a gente também é assim que o estado não-intervencionista liberal econômico funciona no capitalismo tardio, monopólio uhullll</p>

            <p class="avaliacao-restaurante-total">AVALIAÇÃO: <img src="../static/img/star-solid.svg" alt="" height="30px" class="amarelo"> <img src="../static/img/star-solid.svg" alt="" height="30px" class="amarelo"> <img src="../static/img/star-solid.svg" alt="" height="30px" class="amarelo"> <img src="../static/img/star-solid.svg" alt="" height="30px" class="amarelo"> <img src="../static/img/star-solid.svg" alt="" height="30px" class="amarelo"> </p>

            <div class="comentarios">
                <h3>COMENTÁRIOS</h3>

                <div class="unidade-comentario">
                    <h4 class="nome-usuario">Alexandre de Moraes</h4>
                    <p class="data">08/01/23</p>
                    <p class="conteudo-comentario">Amei! recomendo</p>
                    
                    <div class="avaliacao-usuario"><img src="../static/img/star-solid.svg" alt="" height="30px" class="amarelo"> <img src="../static/img/star-solid.svg" alt="" height="30px" class="amarelo"> <img src="../static/img/star-solid.svg" alt="" height="30px" class="amarelo"> <img src="../static/img/star-solid.svg" alt="" height="30px" class="amarelo"> <img src="../static/img/star-solid.svg" alt="" height="30px" class="amarelo"> </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>