<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rio Grande Lanches</title>
</head>
<body>
    <header>
        <h1>Rio Grande Lanches</h1>
        <img src="../static/img/LOGO.png" alt="Logo">

        <form action="pesquisar">
            <input type="text" placeholder="O QUE VOCÊ QUER COMER HOJE?">
        </form>

    </header>

    <hr>

    <div class="main-container unidade-restaurante">

        <div class="ofertas">
            <h1>OFERTAS</h1>
    
            <div class="lanche-container">
                <img src="" alt="imagem lanche">
    
                <div>
                    <p class="nome-Lanche">Cachorro-Quente dogdog</p>
                    <p class="nome-restaurante">AUAUDOGDOG cachorros</p>
                </div>
                
                <p class="texto-preco">R$5,00</p>
            </div>
    
            <div class="lanche-container">
                <img src="" alt="imagem lanche">
    
                <div>
                    <p class="nome-Lanche">milkshake leitinhos grandes</p>
                    <p class="nome-restaurante">Leites na lata da silva lojas</p>
                </div>
                
                <p class="texto-preco">R$14,00</p>
            </div>
    
            <div class="lanche-container">
                <img src="" alt="imagem lanche">
    
                <div>
                    <p class="nome-Lanche">San-do-bão épico</p>
                    <p class="nome-restaurante">Bão Lanches trademark</p>
                </div>
                
                <p class="texto-preco">R$12,00</p>
            </div>
    </div>
</body>
</html>